body {
    background-color: lightblue;
}

p {
    background-color: orange;
}

pre {
    font-size: 10px;
}

img {
    margin: auto;
    display: block;
    border-color: black;
    border-width: medium;
    border-style: dashed;
    border-radius: 25px;
}

.lista {
    list-style-type: upper-roman;
    list-style-position: inside;
    position: absolute;
    top: 2px;
    right: 450px;
    visibility: visible;
}

a {
    text-decoration: none;
}

a:link {
    color: #4CAF50;
}

a:visited {
    color: #a1a1a1;
}

a:active {
    color: #cbcbcb;
}

a:hover {
    margin-top: 5px;
    margin-left: 2px;
    font-weight: bold;
}

p:first-letter {
    font-size: 45px;
}

li:nth-child(2) {
    background-color: red;
}